.row {
	display: flex;
	gap: 8px;
	justify-content: space-between;

	input[type=text],
	input[type=password],
	select,
	textarea {
		min-width: 200px;
		max-width: 200px;
	}

	button {
		width: 50%;
	}
}

.button {
	height: 32px;
	cursor: pointer;
	user-select: none;

	&:disabled {
		cursor: not-allowed;
	}
}